/* @theme custom */

@import "default";

section {
  position: relative;
  background: url("https://github.com/piny940/dotfiles/blob/main/.config/marp/themes/background.png?raw=true");
  background-size: cover;
  padding-left: 100px;
  padding-right: 250px;
}
section::after {
  padding-bottom: 15px;
  padding-right: 15px;
  color: rgb(94, 94, 94);
}
section.title {
  padding-left: 130px;
}
section.title h1 {
  font-size: 2.5em;
  padding-bottom: 0;
}
section.title h2 {
  margin-top: 0;
}

section.side {
  display: flex;
  justify-content: space-between;
}

section.eyecatch {
  display: flex;
  background-color: rgb(56, 142, 199);
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 70px;
  width: 100%;
  height: 100%;
}
